<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTunes Module</string>
	<key>CFBundleIconFile</key>
	<string>iTunes</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>33C</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>NSPrincipalClass</key>
	<string>QSiTunesObjectSource</string>
	<key>QSActions</key>
	<dict>
		<key>QSiTunesAddToPlaylistAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>appendTracks:toPlaylist:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<real>3.5</real>
		</dict>
		<key>QSiTunesOpenBookletAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>openBooklet:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<real>3.5</real>
		</dict>
		<key>QSiTunesPSAddAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psAppendItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<integer>3</integer>
		</dict>
		<key>QSiTunesPSPlayAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psPlayItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<integer>3</integer>
		</dict>
		<key>QSiTunesPSPlayNextAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psPlayNextItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<integer>3</integer>
		</dict>
		<key>QSiTunesPlayItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>playItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<real>3.5</real>
		</dict>
		<key>QSiTunesRevealItem</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>revealItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.playlist</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>rankModification</key>
			<real>3.5</real>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Provides access to playlists and allows browsing by Artist, Album, Genre, and Composer.</string>
		<key>extendedDescription</key>
		<string>Provides access to playlists and allows browsing by Artist, Album, Genre, and Composer.&lt;P&gt;&lt;h3&gt;Enhancements&lt;/h3&gt;&lt;br&gt;&lt;ul&gt;&lt;li&gt;Playlists and Browsing groups in catalog and as children of iTunes&lt;li&gt;iTunes DJ and Play actions&lt;li&gt;Display notifications on track changes&lt;li&gt;Adds control scripts for playing, pausing, skipping tracks&lt;/ul&gt;</string>
		<key>icon</key>
		<string>com.apple.iTunes</string>
		<key>qsversion</key>
		<string>2E00</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.iTunes</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetITunesGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesPlaylists</string>
					<key>name</key>
					<string>iTunes Playlists</string>
					<key>source</key>
					<string>QSiTunesObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesControlScripts</string>
					<key>icon</key>
					<string>com.apple.iTunes</string>
					<key>name</key>
					<string>iTunes Controls</string>
					<key>source</key>
					<string>QSiTunesControlSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesScripts</string>
					<key>icon</key>
					<string>ScriptIcon</string>
					<key>name</key>
					<string>Scripts (iTunes)</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>folderDepth</key>
						<integer>3</integer>
						<key>folderTypes</key>
						<array>
							<string>applescript</string>
							<string>scpt</string>
							<string>&apos;osas&apos;</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>~/Library/iTunes/Scripts</string>
						<key>scanContents</key>
						<integer>1</integer>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.apple.iTunes</string>
			<key>name</key>
			<string>iTunes</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSiTunesActionProvider</key>
			<string>QSiTunesActionProvider</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.apple.iTunes</key>
			<dict>
				<key>QSiTunesNextSongCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesNextSongCommand</string>
					<key>name</key>
					<string>Next Song</string>
				</dict>
				<key>QSiTunesPlayPauseCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesPlayPauseCommand</string>
					<key>icon</key>
					<string>iTunesIcon</string>
					<key>name</key>
					<string>Play - Pause</string>
				</dict>
				<key>QSiTunesPreviousSongCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesPreviousSongCommand</string>
					<key>name</key>
					<string>Previous Song</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.iTunes</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSiTunesDecreaseRating</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>ratingDecrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Decrease Rating</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRatingDecrease</string>
				</dict>
			</dict>
			<key>QSiTunesDecreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeDecrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Decrease Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeDecrease</string>
				</dict>
			</dict>
			<key>QSiTunesIncreaseRating</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>ratingIncrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Increase Rating</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRatingIncrease</string>
				</dict>
			</dict>
			<key>QSiTunesIncreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeIncrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Increase Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeIncrease</string>
				</dict>
			</dict>
			<key>QSiTunesMute</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeMute</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Mute</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeMute</string>
				</dict>
			</dict>
			<key>QSiTunesNextSongCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>next</string>
								<key>icon</key>
								<string>iTunesNext</string>
								<key>name</key>
								<string>Next</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesNext</string>
				</dict>
			</dict>
			<key>QSiTunesPauseCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>pause</string>
								<key>icon</key>
								<string>iTunesPause</string>
								<key>name</key>
								<string>Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPause</string>
				</dict>
			</dict>
			<key>QSiTunesPlayCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>play</string>
								<key>icon</key>
								<string>iTunesPlay</string>
								<key>name</key>
								<string>Play</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPlay</string>
				</dict>
			</dict>
			<key>QSiTunesPlayPauseCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>togglePlayPause</string>
								<key>icon</key>
								<string>iTunesPlay-Pause</string>
								<key>name</key>
								<string>Play/Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPlayPause</string>
				</dict>
			</dict>
			<key>QSiTunesPreviousSongCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>previous</string>
								<key>icon</key>
								<string>iTunesPrevious</string>
								<key>name</key>
								<string>Previous</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPrevious</string>
				</dict>
			</dict>
			<key>QSiTunesSearchAlbums</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Album</string>
								<key>Type</key>
								<string>Album</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Albums</string>
			</dict>
			<key>QSiTunesSearchAll</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<array>
								<dict>
									<key>Result</key>
									<string>Artist</string>
									<key>Type</key>
									<string>Artist</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Album</string>
									<key>Type</key>
									<string>Album</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Track</string>
									<key>Type</key>
									<string>Track</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Composer</string>
									<key>Type</key>
									<string>Composer</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Genre</string>
									<key>Type</key>
									<string>Genre</string>
								</dict>
							</array>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search iTunes</string>
			</dict>
			<key>QSiTunesSearchArtists</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Artist</string>
								<key>Type</key>
								<string>Artist</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Artists</string>
			</dict>
			<key>QSiTunesSearchTracks</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Track</string>
								<key>Type</key>
								<string>Track</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Tracks</string>
			</dict>
			<key>QSiTunesSetRating0</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating0</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 0 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating0</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating1</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating1</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 1 star</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating1</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating2</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating2</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 2 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating2</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating3</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating3</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 3 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating3</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating4</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating4</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 4 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating4</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating5</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating5</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 5 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating5</string>
				</dict>
			</dict>
			<key>QSiTunesShowTrackNotification</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesObjectSource</string>
								<key>actionSelector</key>
								<string>showCurrentTrackNotification</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Show Playing Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesShowCurrentTrack</string>
				</dict>
			</dict>
			<key>QSiTunesStopCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>stop</string>
								<key>icon</key>
								<string>iTunesStop</string>
								<key>name</key>
								<string>Stop</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesStop</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.apple.itunes.playlist</key>
			<string>QSiTunesObjectSource</string>
			<key>com.apple.itunes.qsbrowsercriteria</key>
			<string>QSiTunesObjectSource</string>
			<key>com.apple.itunes.track</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSiTunesControlSource</key>
			<string>QSiTunesControlSource</string>
			<key>QSiTunesObjectSource</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSiTunesPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSiTunesPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSCurrentAlbumProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesAlbumBrowserIcon</string>
				<key>name</key>
				<string>Album Now Playing</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.qsbrowsercriteria</string>
				</array>
			</dict>
			<key>QSCurrentArtistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesArtistBrowserIcon</string>
				<key>name</key>
				<string>Artist Now Playing</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.qsbrowsercriteria</string>
				</array>
			</dict>
			<key>QSCurrentPlaylistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesPlaylistIcon</string>
				<key>name</key>
				<string>Current Playlist</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.playlist</string>
				</array>
			</dict>
			<key>QSCurrentTrackProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesTrackIcon</string>
				<key>name</key>
				<string>Track Now Playing</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.track</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
			<key>QSSelectedPlaylistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesPlaylistIcon</string>
				<key>name</key>
				<string>Selected Playlist</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.playlist</string>
				</array>
			</dict>
			<key>com.apple.iTunes</key>
			<dict>
				<key>icon</key>
				<string>iTunesTrackIcon</string>
				<key>name</key>
				<string>Current iTunes Selection</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.track</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSiTunesTrackChangedEvent</key>
			<dict>
				<key>icon</key>
				<string>iTunesIcon</string>
				<key>name</key>
				<string>iTunes Track Changed</string>
				<key>provider</key>
				<string>QSiTunesObjectSource</string>
			</dict>
		</dict>
		<key>QSTriggerSets</key>
		<dict>
			<key>com.apple.iTunes</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.apple.itunes.track</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes Music</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.Quicksilver.QSMusicSupport</string>
				<key>name</key>
				<string>Music Support</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSiTunesNextSongTrigger</string>
			<key>command</key>
			<string>QSiTunesNextSongCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string></string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPreviousSongTrigger</string>
			<key>command</key>
			<string>QSiTunesPreviousSongCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPauseCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayPauseCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>command</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Show Playing Track</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseRating</string>
			<key>command</key>
			<string>QSiTunesDecreaseRating</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Rating</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseRating</string>
			<key>command</key>
			<string>QSiTunesIncreaseRating</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Rating</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating0</string>
			<key>command</key>
			<string>QSiTunesSetRating0</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 0</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating1</string>
			<key>command</key>
			<string>QSiTunesSetRating1</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 1</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating2</string>
			<key>command</key>
			<string>QSiTunesSetRating2</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 2</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating3</string>
			<key>command</key>
			<string>QSiTunesSetRating3</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 3</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating4</string>
			<key>command</key>
			<string>QSiTunesSetRating4</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 4</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating5</string>
			<key>command</key>
			<string>QSiTunesSetRating5</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 5</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>command</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>command</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesMute</string>
			<key>command</key>
			<string>QSiTunesMute</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAll</string>
			<key>command</key>
			<string>QSiTunesSearchAll</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search iTunes</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAlbums</string>
			<key>command</key>
			<string>QSiTunesSearchAlbums</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Albums</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchTracks</string>
			<key>command</key>
			<string>QSiTunesSearchTracks</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Tracks</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchArtists</string>
			<key>command</key>
			<string>QSiTunesSearchArtists</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Artists</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
	</array>
</dict>
</plist>
