<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>iTunes</string>
	<key>CFBundleExecutable</key>
	<string>iTunes Module</string>
	<key>CFBundleIconFile</key>
	<string>iTunes</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.4</string>
	<key>CFBundleVersion</key>
	<string>345</string>
	<key>NSPrincipalClass</key>
	<string>QSiTunesObjectSource</string>
	<key>QSActions</key>
	<dict>
		<key>QSiTunesAddToPlaylistAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>appendTracks:toPlaylist:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>precedence</key>
			<integer>1</integer>
		</dict>
		<key>QSiTunesGetLyrics</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>getLyrics:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesOpenBookletAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>openBooklet:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesPSAddAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psAppendItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesPSPlayAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psPlayItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesPSPlayNextAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>psPlayNextItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesPlayItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>playItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>precedence</key>
			<integer>3</integer>
		</dict>
		<key>QSiTunesRevealItem</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>revealItem:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.track</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>precedence</key>
			<integer>1</integer>
		</dict>
		<key>QSiTunesSelectEQPreset</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>selectEQPreset:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.eqpreset</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
			<key>precedence</key>
			<integer>2</integer>
		</dict>
		<key>QSiTunesToggleEnabled</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>toggleEnabled:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
				<string>com.apple.itunes.playlist</string>
				<string>com.apple.itunes.qsbrowsercriteria</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
		<key>QSiTunesToggleShuffle</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTunesActionProvider</string>
			<key>actionSelector</key>
			<string>toggleShuffle:</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.playlist</string>
			</array>
			<key>icon</key>
			<string>iTunesIcon</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Alcor, Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Allows you to control iTunes and browse the iTunes library</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;preferences&quot;&gt;Preferences&lt;/h2&gt;

&lt;h4 id=&quot;show_artwork&quot;&gt;Show Artwork&lt;/h4&gt;

&lt;p&gt;With this enabled, Quicksilver will show the album cover (for albums and tracks) or the poster frame (for videos). If disabled, a generic icon will be shown instead.&lt;/p&gt;

&lt;h4 id=&quot;group_compilations&quot;&gt;Group Compilations&lt;/h4&gt;

&lt;p&gt;With this enabled, tracks from different artists will be shown under a single album (if part of a compilation).&lt;/p&gt;

&lt;h4 id=&quot;monitor_recent_tracks&quot;&gt;Monitor Recent Tracks&lt;/h4&gt;

&lt;p&gt;With this enabled, Quicksilver can store the last 25 tracks played by iTunes. It only includes tracks that have played since Quicksilver last started, and only while the preference was enabled.&lt;/p&gt;

&lt;h4 id=&quot;display_track_notifications&quot;&gt;Display Track Notifications&lt;/h4&gt;

&lt;p&gt;If &lt;strong&gt;Monitor Recent Tracks&lt;/strong&gt; is enabled, you can optionally have Quicksilver display a notification every time a new track starts. The type of notification (built-in or Growl) can be controlled via Quicksilver&amp;#8217;s various preferences related to notifications.&lt;/p&gt;

&lt;h4 id=&quot;include_videos_when_playing_albums&quot;&gt;Include Videos when Playing Albums&lt;/h4&gt;

&lt;p&gt;Some albums might have videos associated with them, but you probably don&amp;#8217;t want them to play when listening to an album. This allows you to control that behavior. The name is a bit misleading, as it will also apply if you select an artist and play them (which will play everything by that artist).&lt;/p&gt;

&lt;p&gt;If your selection contains &lt;em&gt;only&lt;/em&gt; videos, they will play regardless of this setting.&lt;/p&gt;

&lt;h2 id=&quot;catalog&quot;&gt;Catalog&lt;/h2&gt;

&lt;p&gt;There are three catalog presets to choose from.&lt;/p&gt;

&lt;h3 id=&quot;itunes_playlists&quot;&gt;iTunes Playlists&lt;/h3&gt;

&lt;p&gt;This will add the following to your main catalog:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;All of your playlists&lt;/li&gt;
&lt;li&gt;Entry points for browsing the library (Browse Artists, Browse Albums, etc.)&lt;/li&gt;
&lt;li&gt;A &amp;#8220;Recent Tracks&amp;#8221; entry. (Select it and hit → or / to see them. Only tracks that have played since Quicksilver was launched will be available.)&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;These items can also be accessed by selecting iTunes in Quicksilver and hitting → or /.&lt;/p&gt;

&lt;p&gt;Individual tracks are not added to the catalog as they&amp;#8217;re rarely sought out, and would really just slow Quicksilver down. Artists, Albums, Tracks, etc. can still be accessed quickly (see &lt;strong&gt;Browsing&lt;/strong&gt; below).&lt;/p&gt;

&lt;h3 id=&quot;itunes_controls&quot;&gt;iTunes Controls&lt;/h3&gt;

&lt;p&gt;These are the same controls you can add triggers for (to control playback, adjust volume, and adjust rating). You can add them to the catalog in addition to (or instead of) assigning triggers to them.&lt;/p&gt;

&lt;h3 id=&quot;scripts_itunes&quot;&gt;Scripts (iTunes)&lt;/h3&gt;

&lt;p&gt;This will add any AppleScripts you have in &lt;code&gt;~/Library/iTunes/Scripts/&lt;/code&gt;. (There are none by default.)&lt;/p&gt;

&lt;h3 id=&quot;equalizer_presets&quot;&gt;Equalizer Presets&lt;/h3&gt;

&lt;p&gt;This entry adds all of your equalizer settings to the catalog.&lt;/p&gt;

&lt;h3 id=&quot;proxy_objects&quot;&gt;Proxy Objects&lt;/h3&gt;

&lt;p&gt;The following proxy objects will be available. Most only work when iTunes is running, and some only when a track is playing.&lt;/p&gt;

&lt;table&gt;
&lt;thead&gt;
&lt;tr&gt;
  &lt;th&gt;Proxy Name&lt;/th&gt;
  &lt;th&gt;Running&lt;/th&gt;
  &lt;th&gt;Playing&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
  &lt;td&gt;Currently Playing Track&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Currently Playing Artist&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Currently Playing Album&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Current Playlist&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Selected Playlist&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;No&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Current iTunes Selection&lt;/td&gt;
  &lt;td&gt;Yes&lt;/td&gt;
  &lt;td&gt;No&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
  &lt;td&gt;Random Track&lt;/td&gt;
  &lt;td&gt;No&lt;/td&gt;
  &lt;td&gt;No&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;

&lt;h2 id=&quot;browsing&quot;&gt;Browsing&lt;/h2&gt;

&lt;p&gt;You can quickly locate and play anything in your iTunes library, even if it&amp;#8217;s not stored in Quicksilver&amp;#8217;s catalog. You can do this by assigning triggers to search a certain criteria (like Artist or Genre) or by selecting &amp;#8220;Browse [Criteria]&amp;#8221; in Quicksilver.&lt;/p&gt;

&lt;h2 id=&quot;actions&quot;&gt;Actions&lt;/h2&gt;

&lt;h4 id=&quot;play&quot;&gt;Play&lt;/h4&gt;

&lt;p&gt;You can play any of the following:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;Playlists&lt;/li&gt;
&lt;li&gt;Tracks (individually or with the comma trick)&lt;/li&gt;
&lt;li&gt;Albums (individually or with the comma trick)&lt;/li&gt;
&lt;li&gt;Artists (all tracks by the artist, individually or with the comma trick)&lt;/li&gt;
&lt;li&gt;Genres (all tracks in a genre, individually or with the comma trick)&lt;/li&gt;
&lt;li&gt;Composers (all tracks by the composer, individually or with the comma trick)&lt;/li&gt;
&lt;/ul&gt;

&lt;h4 id=&quot;add_to_playlist&quot;&gt;Add to Playlist…&lt;/h4&gt;

&lt;p&gt;Add artists, albums, tracks, etc. to an existing playlist by selecting it in the third pane.&lt;/p&gt;

&lt;h4 id=&quot;reveal_in_itunes&quot;&gt;Reveal in iTunes&lt;/h4&gt;

&lt;p&gt;Show the selected track or playlist in iTunes.&lt;/p&gt;

&lt;h4 id=&quot;show_booklets&quot;&gt;Show Booklet(s)&lt;/h4&gt;

&lt;p&gt;With album(s) or artist(s) in the first pane, you can display the PDF artwork that accompanies some albums purchased from the iTunes store. Nothing will happen for albums that don&amp;#8217;t include artwork.&lt;/p&gt;

&lt;h4 id=&quot;enable_disable_tracks&quot;&gt;Enable/Disable Track(s)&lt;/h4&gt;

&lt;p&gt;Toggle track(s) between &amp;#8220;checked&amp;#8221; and &amp;#8220;unchecked&amp;#8221; in iTunes. You can apply this to individual tracks, multiple tracks, albums, entire artists, or even entire genres.&lt;/p&gt;

&lt;h4 id=&quot;shuffle_on_off&quot;&gt;Shuffle On/Off&lt;/h4&gt;

&lt;p&gt;Toggle the shuffle setting for the selected playlist(s).&lt;/p&gt;

&lt;h4 id=&quot;get_lyrics&quot;&gt;Get Lyrics&lt;/h4&gt;

&lt;p&gt;Get the lyrics for the selected track.&lt;/p&gt;

&lt;h4 id=&quot;play_in_itunes_dj&quot;&gt;Play in iTunes DJ&lt;/h4&gt;

&lt;p&gt;Add tracks to the beginning of the list in iTunes DJ and start playing.&lt;/p&gt;

&lt;h4 id=&quot;play_next_in_itunes_dj&quot;&gt;Play Next in iTunes DJ&lt;/h4&gt;

&lt;p&gt;Add tracks after the current track in iTunes DJ.&lt;/p&gt;

&lt;h4 id=&quot;add_to_end_of_itunes_dj&quot;&gt;Add to End of iTunes DJ&lt;/h4&gt;

&lt;p&gt;Append tracks to the beginning of the list in iTunes DJ.&lt;/p&gt;

&lt;h4 id=&quot;set_eq_preset&quot;&gt;Set EQ Preset&lt;/h4&gt;

&lt;p&gt;Make the selected equalizer preset active in iTunes.&lt;/p&gt;

&lt;h2 id=&quot;be_aware&quot;&gt;Be Aware&lt;/h2&gt;

&lt;p&gt;The most accurate information comes from iTunes itself, but that only works if iTunes is running. In order to get information without requiring iTunes to be running at all times, we read it from disk (from &lt;code&gt;~/Music/iTunes/iTunes Music Library.xml&lt;/code&gt;).&lt;/p&gt;

&lt;p&gt;The information you see when browsing through your library comes from this XML file, but when you take an action like Play or Add to Playlist, the affected tracks are pulled from iTunes itself. This can lead to occasional inconsistencies in what you would see browsing in Quicksilver vs. what actually happens in iTunes.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.iTunes</string>
		<key>qsversion</key>
		<string>2E00</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.iTunes</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetITunesGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesPlaylists</string>
					<key>name</key>
					<string>iTunes Playlists</string>
					<key>source</key>
					<string>QSiTunesObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesControlScripts</string>
					<key>icon</key>
					<string>com.apple.iTunes</string>
					<key>name</key>
					<string>iTunes Controls</string>
					<key>source</key>
					<string>QSiTunesControlSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesScripts</string>
					<key>icon</key>
					<string>ScriptIcon</string>
					<key>name</key>
					<string>Scripts (iTunes)</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>folderDepth</key>
						<integer>3</integer>
						<key>folderTypes</key>
						<array>
							<string>applescript</string>
							<string>scpt</string>
							<string>&apos;osas&apos;</string>
						</array>
						<key>parser</key>
						<string>QSDirectoryParser</string>
						<key>path</key>
						<string>~/Library/iTunes/Scripts</string>
						<key>scanContents</key>
						<integer>1</integer>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetiTunesEQPresets</string>
					<key>icon</key>
					<string>iTunesEQ</string>
					<key>name</key>
					<string>iTunes Equalizer Presets</string>
					<key>source</key>
					<string>QSiTunesEQPresets</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.apple.iTunes</string>
			<key>name</key>
			<string>iTunes</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSiTunesActionProvider</key>
			<string>QSiTunesActionProvider</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.apple.iTunes</key>
			<dict>
				<key>QSiTunesNextSongCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesNextSongCommand</string>
					<key>name</key>
					<string>Next Song</string>
				</dict>
				<key>QSiTunesPlayPauseCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesPlayPauseCommand</string>
					<key>icon</key>
					<string>iTunesIcon</string>
					<key>name</key>
					<string>Play - Pause</string>
				</dict>
				<key>QSiTunesPreviousSongCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSiTunesPreviousSongCommand</string>
					<key>name</key>
					<string>Previous Song</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.iTunes</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSiTunesDecreaseRating</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>ratingDecrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Decrease Rating</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRatingDecrease</string>
				</dict>
			</dict>
			<key>QSiTunesDecreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeDecrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Decrease Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeDecrease</string>
				</dict>
			</dict>
			<key>QSiTunesIncreaseRating</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>ratingIncrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Increase Rating</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRatingIncrease</string>
				</dict>
			</dict>
			<key>QSiTunesIncreaseVolume</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeIncrease</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Increase Volume</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeIncrease</string>
				</dict>
			</dict>
			<key>QSiTunesMute</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>volumeMute</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Mute</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesVolumeMute</string>
				</dict>
			</dict>
			<key>QSiTunesNextSongCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>next</string>
								<key>icon</key>
								<string>iTunesNext</string>
								<key>name</key>
								<string>Next</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesNext</string>
				</dict>
			</dict>
			<key>QSiTunesPauseCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>pause</string>
								<key>icon</key>
								<string>iTunesPause</string>
								<key>name</key>
								<string>Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPause</string>
				</dict>
			</dict>
			<key>QSiTunesPlayCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>play</string>
								<key>icon</key>
								<string>iTunesPlay</string>
								<key>name</key>
								<string>Play</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPlay</string>
				</dict>
			</dict>
			<key>QSiTunesPlayPauseCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>togglePlayPause</string>
								<key>icon</key>
								<string>iTunesPlay-Pause</string>
								<key>name</key>
								<string>Play/Pause</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPlayPause</string>
				</dict>
			</dict>
			<key>QSiTunesPreviousSongCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>previous</string>
								<key>icon</key>
								<string>iTunesPrevious</string>
								<key>name</key>
								<string>Previous</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesPrevious</string>
				</dict>
			</dict>
			<key>QSiTunesSearchAlbums</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Album</string>
								<key>Type</key>
								<string>Album</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Albums</string>
			</dict>
			<key>QSiTunesSearchAll</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<array>
								<dict>
									<key>Result</key>
									<string>Artist</string>
									<key>Type</key>
									<string>Artist</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Album</string>
									<key>Type</key>
									<string>Album</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Track</string>
									<key>Type</key>
									<string>Track</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Composer</string>
									<key>Type</key>
									<string>Composer</string>
								</dict>
								<dict>
									<key>Result</key>
									<string>Genre</string>
									<key>Type</key>
									<string>Genre</string>
								</dict>
							</array>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search iTunes</string>
			</dict>
			<key>QSiTunesSearchArtists</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Artist</string>
								<key>Type</key>
								<string>Artist</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Artists</string>
			</dict>
			<key>QSiTunesSearchTracks</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjectSearchChildrenAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>com.apple.itunes.qsbrowsercriteria</key>
							<dict>
								<key>Result</key>
								<string>Track</string>
								<key>Type</key>
								<string>Track</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>name</key>
				<string>Search Tracks</string>
			</dict>
			<key>QSiTunesSetRating0</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating0</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 0 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating0</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating1</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating1</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 1 star</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating1</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating2</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating2</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 2 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating2</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating3</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating3</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 3 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating3</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating4</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating4</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 4 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating4</string>
				</dict>
			</dict>
			<key>QSiTunesSetRating5</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>rating5</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Set Rating to 5 stars</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesRating5</string>
				</dict>
			</dict>
			<key>QSiTunesShowTrackNotification</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesObjectSource</string>
								<key>actionSelector</key>
								<string>showCurrentTrackNotification</string>
								<key>icon</key>
								<string>iTunesIcon</string>
								<key>name</key>
								<string>Show Playing Track</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesShowCurrentTrack</string>
				</dict>
			</dict>
			<key>QSiTunesStopCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSiTunesControlProvider</string>
								<key>actionSelector</key>
								<string>stop</string>
								<key>icon</key>
								<string>iTunesStop</string>
								<key>name</key>
								<string>Stop</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSiTunesStop</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>com.apple.itunes.eqpreset</key>
			<string>QSiTunesEQPresets</string>
			<key>com.apple.itunes.playlist</key>
			<string>QSiTunesObjectSource</string>
			<key>com.apple.itunes.qsbrowsercriteria</key>
			<string>QSiTunesObjectSource</string>
			<key>com.apple.itunes.track</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSiTunesControlSource</key>
			<string>QSiTunesControlSource</string>
			<key>QSiTunesEQPresets</key>
			<string>QSiTunesEQPresets</string>
			<key>QSiTunesObjectSource</key>
			<string>QSiTunesObjectSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSiTunesPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSiTunesPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSCurrentAlbumProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesAlbumBrowserIcon</string>
				<key>name</key>
				<string>Currently Playing Album</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.qsbrowsercriteria</string>
				</array>
			</dict>
			<key>QSCurrentArtistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesArtistBrowserIcon</string>
				<key>name</key>
				<string>Currently Playing Artist</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.qsbrowsercriteria</string>
				</array>
			</dict>
			<key>QSCurrentPlaylistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesPlaylistIcon</string>
				<key>name</key>
				<string>Current Playlist</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.playlist</string>
				</array>
			</dict>
			<key>QSCurrentSelectionProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesTrackIcon</string>
				<key>name</key>
				<string>Current iTunes Selection</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.track</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
			<key>QSCurrentTrackProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesTrackIcon</string>
				<key>name</key>
				<string>Currently Playing Track</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.track</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
			<key>QSRandomTrackProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesTrackIcon</string>
				<key>name</key>
				<string>Random Track</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.track</string>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
			<key>QSSelectedPlaylistProxy</key>
			<dict>
				<key>icon</key>
				<string>iTunesPlaylistIcon</string>
				<key>name</key>
				<string>Selected Playlist</string>
				<key>providerClass</key>
				<string>QSiTunesObjectSource</string>
				<key>types</key>
				<array>
					<string>com.apple.itunes.playlist</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSiTunesTrackChangedEvent</key>
			<dict>
				<key>icon</key>
				<string>iTunesIcon</string>
				<key>name</key>
				<string>iTunes Track Changed</string>
				<key>provider</key>
				<string>QSiTunesObjectSource</string>
			</dict>
		</dict>
		<key>QSTriggerSets</key>
		<dict>
			<key>com.apple.iTunes</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.apple.itunes.track</key>
			<dict>
				<key>icon</key>
				<string>com.apple.iTunes</string>
				<key>name</key>
				<string>iTunes Music</string>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>iTunesEQ</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>EqualizerIcon.png</string>
		</dict>
		<key>iTunesNext</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesNext.icns</string>
		</dict>
		<key>iTunesPause</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesPause.icns</string>
		</dict>
		<key>iTunesPlay</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesPlay.icns</string>
		</dict>
		<key>iTunesPlay-Pause</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesPlay-Pause.icns</string>
		</dict>
		<key>iTunesPrevious</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesPrevious.icns</string>
		</dict>
		<key>iTunesStop</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiTunesPlugIn</string>
			<key>resource</key>
			<string>iTunesStop.icns</string>
		</dict>
	</dict>
	<key>QSTriggerAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSiTunesNextSongTrigger</string>
			<key>command</key>
			<string>QSiTunesNextSongCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPreviousSongTrigger</string>
			<key>command</key>
			<string>QSiTunesPreviousSongCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPauseCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayPauseCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>command</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Show Playing Track</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseRating</string>
			<key>command</key>
			<string>QSiTunesDecreaseRating</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Rating</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseRating</string>
			<key>command</key>
			<string>QSiTunesIncreaseRating</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Rating</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating0</string>
			<key>command</key>
			<string>QSiTunesSetRating0</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 0</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating1</string>
			<key>command</key>
			<string>QSiTunesSetRating1</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 1</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating2</string>
			<key>command</key>
			<string>QSiTunesSetRating2</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 2</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating3</string>
			<key>command</key>
			<string>QSiTunesSetRating3</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 3</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating4</string>
			<key>command</key>
			<string>QSiTunesSetRating4</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 4</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating5</string>
			<key>command</key>
			<string>QSiTunesSetRating5</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Set Rating to 5</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>command</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>keyCode</key>
				<integer>103</integer>
				<key>modifiers</key>
				<integer>8651009</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>command</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>defaults</key>
			<dict>
				<key>keyCode</key>
				<integer>111</integer>
				<key>modifiers</key>
				<integer>8651009</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesMute</string>
			<key>command</key>
			<string>QSiTunesMute</string>
			<key>defaults</key>
			<dict>
				<key>keyCode</key>
				<integer>109</integer>
				<key>modifiers</key>
				<integer>8651009</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAll</string>
			<key>command</key>
			<string>QSiTunesSearchAll</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search iTunes</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAlbums</string>
			<key>command</key>
			<string>QSiTunesSearchAlbums</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Albums</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchTracks</string>
			<key>command</key>
			<string>QSiTunesSearchTracks</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Tracks</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchArtists</string>
			<key>command</key>
			<string>QSiTunesSearchArtists</string>
			<key>defaults</key>
			<dict>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Search Artists</string>
			<key>set</key>
			<string>iTunes</string>
		</dict>
	</array>
</dict>
</plist>
